


.swiper {
  width: 100%;
  height: 100%;
    background-color: rgb(75, 75, 75);

}

.swiper-slide {
    
  text-align: center;
  font-size: 18px;

    padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}


