

.Card {
  width: 100%;
  background: #111;
  padding: 10px;
  border-radius: 8px;
  text-align: justify;
  cursor: pointer;
  transition: 0.3s;
}

.movie-img {
  width: 100%;      
  object-fit: cover;
}

.Card h3 {
  margin: 10px;
  font-size: 18px;
  color: #fff;
}


.Card:hover {
  transform: scale(1.02);
}
