.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  position: absolute;
  top: 0;
  left: 0%;
  z-index: 10;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.logo {
  width: 9.25rem;
  height: 2.5rem;
  color: rgb(229, 9, 20);
  fill: rgb(229, 9, 20);
  cursor: pointer;
}

.cta {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  overflow: hidden;
}

.lang-btn {
  background-color: black;
  border: 1px solid white;
  width: 90px;
  color: white;
  padding: 8px 10px;
  border-radius: 3px;
  cursor: pointer;
  border: none;
}
.lang-btn > option {
  background-color: #fff;
  color: black;
}

.cta button:hover {
  transform: scale(1.02);
  transition: all 0.5s ease;
}

.login-btn {
  width: 90px;
  padding: 10px;
  font-size: 16px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;

}

.login-btn a {
  text-decoration: none;
  color: var(--text-color);
}

.login-btn:hover {
  transform: scale(1.01);
}
