


.footer{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    padding: 20px;
min-height: 500px;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;

    padding: 20px 8px ; 

}

.contact p a{
    text-decoration: none;
    color: #B3B3B3;
}

.footer-links{
    
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 3rem;
    padding: 20px 8px ;
}

.footer-links ul{
   
    list-style:none;
    
}

.footer-links ul li{
    width: 200px;
    padding-bottom: 10px;

    
}


.footer-links ul li a{
    text-decoration: none;
    font-size: 14px;
    color: #B3B3B3;
    
}


 .translate .lang-btn{
    background-color: rgb(31, 31, 31);
    border: 1px solid white;
    width: 90px;
    color: white;
    padding: 8px 10px;
     border-radius: 3px;
     cursor: pointer;
       border: none;

  }
 .lang-btn> option{
    background-color: #fff;
   color: black;
   
  }


  .copyright{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
  }

  .copyright p{
    font-size: 14px;
    color: #B3B3B3;
  }


  .copyright span{
    font-size: 13px;
    color: #B3B3B3;
  }

