
footer{
    background-color: #313131;
}

.footer{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30%;

    padding: 20px;
    min-height: 500px;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;

    padding: 20px 8px ; 

}

.contact p a{
    text-decoration: none;
    color: #fff;
}

.footer-links{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10%;
    margin-bottom: 20px;
    padding: 20px 8px ;
}

.footer-links ul{
   
    list-style:none;
    
}

.footer-links ul li{
    width: 200px;
    padding-bottom: 10px;

    
}


.footer-links ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    
}


 .translate .lang-btn{
    background-color: rgb(31, 31, 31);
    border: 1px solid white;
    width: 90px;
    color: white;
    padding: 8px 10px;
     border-radius: 3px;
     cursor: pointer;
  }
 .lang-btn> option{
    background-color: #fff;
   color: black;
   
  }


